* {
    -webkit-tap-highlight-color: transparent;
}

ul,
li,
p,
div,
body,
html,
section,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
textarea,
select {
    -webkit-appearance: none;
}

input,textarea,button{
    outline: none;
}